<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav">
    <li><a href="submit.html">Submit</a></li>
    <li><a href="browse.html">Browse</a></li>
    <li class="hidden-xs"><a href="#">Random</a></li>
    <li><a href="faq.html">FAQ</a></li>
    <li class="visible-xs"><a href="profile-view.html">Profile</a></li>
    <li class="visible-xs"><a href="favorites.html">Favorites</a></li>
    <li class="visible-xs"><a href="character-list.html">Characters</a></li>
    <li class="visible-xs"><a href="#">Sign Out</a></li>
  </ul>

  <ul class="nav navbar-nav navbar-right hidden-xs">
    <li class="dropdown">
      <a
          href="#"
          class="dropdown-toggle"
          data-toggle="dropdown"
          role="button"
          aria-haspopup="true"
          aria-expanded="false">#######DISPLAYNAME######## <span class="caret"></span>
        </a>
      <ul class="dropdown-menu">
        <li><a href="profile-view.html"><strong>Profile</strong></a></li>
        <li><a href="favorites.html"><strong>Favorites</strong></a></li>
        <li role="separator" class="divider"></li>
        <li><a href="character-list.html"><strong>Characters</strong></a></li>
        <li><a href="#">#######CHARACTER1#######</a></li>
        <li><a href="#">#######CHARACTER2#######</a></li>
        <li><a href="#">#######CHARACTER3#######</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#"><strong>Sign Out</strong></a></li>
      </ul>
    </li>

    <li>
      <a href="review.html" class="btn btn-success">Review Tags <span class="badge">42</span></a>
    </li>
  </ul>
</div>
