<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button"
          class="navbar-toggle collapsed" data-toggle="collapse"
          data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="#" class="btn btn-success pull-right visible-xs">
        <strong>42 Tags</strong>
      </a>
      <a routerLink="/" class="navbar-brand" title="GoTag.Me">
        <img src="/assets/logo.png" />
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="/submit">Submit</a></li>
        <li routerLinkActive="active"><a routerLink="/browse">Browse</a></li>
        <li class="hidden-xs" routerLinkActive="active"><a routerLink="/random">Random</a></li>
        <li routerLinkActive="active"><a routerLink="/faq">FAQ</a></li>
        <li><a href="/api/login">Login</a></li>
        <li class="visible-xs"><a href="profile-view.html">Profile</a></li>
        <li class="visible-xs"><a href="favorites.html">Favorites</a></li>
        <li class="visible-xs"><a href="character-list.html">Characters</a></li>
        <li class="visible-xs"><a href="#">Sign Out</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right hidden-xs">
        <li class="dropdown">
          <a
              href="#"
              class="dropdown-toggle"
              data-toggle="dropdown"
              role="button"
              aria-haspopup="true"
              aria-expanded="false">#######DISPLAYNAME######## <span class="caret"></span>
            </a>
          <ul class="dropdown-menu">
            <li><a href="profile-view.html"><strong>Profile</strong></a></li>
            <li><a href="favorites.html"><strong>Favorites</strong></a></li>
            <li role="separator" class="divider"></li>
            <li><a href="character-list.html"><strong>Characters</strong></a></li>
            <li><a href="#">#######CHARACTER1#######</a></li>
            <li><a href="#">#######CHARACTER2#######</a></li>
            <li><a href="#">#######CHARACTER3#######</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#"><strong>Sign Out</strong></a></li>
          </ul>
        </li>

        <li><a routerLink="/review" class="btn btn-success">
          Review Tags <span class="badge">{{_tags.length}}</span>
        </a></li>
      </ul>
    </div>
  </div>
</nav>
