<div id="home" class="body">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div style="text-align: center; padding: 30px;">new user intro</div>
            </div>
        </div>
    </div>

  <!-- <ul class="gallery row"> -->
  <ngx-masonry [options]="masonryOptions" [useImagesLoaded]="true" [updateLayout]="updLayout" class="gallery row" style="position:fixed;">
    <!-- <li class="col-md-3 col-sm-4 col-xs-6" *ngFor="let src of imageSrcs"> -->
    <ngx-masonry-item class="masonry-item" *ngFor="let photo of _photos">
      <a [routerLink]="['/photo', photo.photoID]"><img src="{{photo.smallImageUrl}}" style="width:100%;"></a>
      <a class="gallery-fave"><i class="fa fa-heart-o"></i></a>
    </ngx-masonry-item>
  </ngx-masonry>
</div>
