<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <div class="text-center"><span class="avatar"><img
            src="https://pbs.twimg.com/profile_images/932345543141089281/SW5qrFOm_400x400.jpg"></span></div>
      <h2> Ringer <small><a href="#">@mmmatches</a></small> <i class="fa
          fa-trophy" title="132 photos tagged"></i> <button class="btn
          btn-default btn-sm" data-dismiss="modal" data-toggle="modal"
          data-target="#modal-profile">Edit</button></h2>
      <p class="lead">Lorem ipsum dolor sit amet.</p>
      <p><i class="fa fa-map-marker"></i> Minneapolis, MN</p>
      <ul class="profile-urls">
        <li><a href="#">http://gotag.me</a></li>
        <li><a href="#">http://racsky.us</a></li>
      </ul>
      <hr/>
        <h3>Characters</h3>
        <div class="list-group profile-collections">
          <a href="#" class="list-group-item">
            <span class="badge">34</span>
            <h4 class="list-group-item-heading">Bruto</h4>
            <p class="list-group-item-text"><i class="fa fa-folder-open"></i>
              <span>#donkey</span> <span>#hybrid</span> <span>#raccoon</span></p>
          </a>
          <a href="#" class="list-group-item">
            <span class="badge">60</span>
            <h4 class="list-group-item-heading">Racket</h4>
            <p class="list-group-item-text"><i class="fa fa-folder-open"></i>
              <span>#deer</span> <span>#hybrid</span> <span>#raccoon</span></p>
          </a>
          <a href="#" class="list-group-item">
            <span class="badge">14</span>
            <h4 class="list-group-item-heading">Ringer</h4>
            <p class="list-group-item-text"><i class="fa fa-folder-open"></i>
              <span>#raccoon</span></p>
          </a>
        </div>
        <div class="list-group profile-collections">
          <a href="#" class="list-group-item">
            <span class="badge">28</span>
            <h4 class="list-group-item-heading">Taken Photos</h4>
          </a>
        </div>
        <!--
        <div class="list-group profile-collections">
          <a href="#" class="list-group-item">
            <span class="badge">72</span>
            <h4 class="list-group-item-heading">Favorites</h4>
          </a>
        </div>
        -->
    </div>
  </div>
</div>
