<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <h2>Characters</h2>
      <div class="list-group profile-collections">
        <a *ngFor="let costume of costumes" href="#" class="list-group-item">
          <span class="badge">{{tagCountForCostume(costume)}}</span>
          <h4 class="list-group-item-heading">{{costume.name}}</h4>
          <p class="list-group-item-text"><i class="fa fa-folder-open"></i>
            <span>#donkey</span> <span>#hybrid</span> <span>#MyFurCreations</span>
            <span>#raccoon</span></p>
        </a>
        <!-- <a href="#" class="list-group-item">
          <span class="badge">60</span>
          <h4 class="list-group-item-heading">Racket</h4>
          <p class="list-group-item-text"><i class="fa fa-folder-open"></i>
            <span>#deer</span> <span>#hybrid</span> <span>#raccoon</span> <span>#The
              Critter Factory</span></p>
        </a>
        <a href="#" class="list-group-item">
          <span class="badge">14</span>
          <h4 class="list-group-item-heading">Ringer</h4>
          <p class="list-group-item-text"><i class="fa fa-folder-open"></i>
            <span>#raccoon</span></p>
        </a> -->
      </div>
      <button (click)="show()" class="btn btn-default btn-lg btn-block" data-dismiss="modal"
        data-toggle="modal" data-target="#modal-collection">Add a Character</button>
    </div>
  </div>
</div>

<!-- new character modal -->

<div (click)="onBackgroundClicked($event)" [ngStyle]="{'display': _visible ? 'block' : 'none', 'opacity': _visibleAnimate ? 1 : 0}"
  [ngClass]="{'in': _visibleAnimate}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal-tag-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button (click)="hide()" type="button" class="close" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="modal-collection-label">Add a Character</h4>
      </div>
      <form class="form">
        <div class="modal-body">
          <div class="form-group">
            <label class="control-label">Character name:</label>
              <input [(ngModel)]="_nameInput" type="text" class="form-control" name="name-input" id="name-input">
          </div>
          <!-- <div class="form-group">
            <label class="control-label">Keywords for this character (species, builder):</label>
              <input [(ngModel)]="_keywordInput" type="text" class="form-control form-keywords" name="keyword-input" id="keyword-input">
          </div> -->
        </div>
        <div class="modal-footer">
          <button (click)="createTapped()" type="button" class="btn btn-primary">Create</button>
        </div>
      </form>
    </div>
  </div>
</div>
