<div id="single" class="body">

  <div class="single-photo text-center">
    <a href="#" class="single-nav single-prev" title="Previous Photo">
      <i class="fa fa-chevron-left"></i>
    </a>
    <a href="#" class="single-nav single-next" title="Next Photo">
      <i class="fa fa-chevron-right"></i>
    </a>
    <img src="{{_photo.largeImageUrl}}">
  </div>

  <div class="container single-meta">
    <div class="row">
      <div class="col-sm-8">

        <span *ngFor="let tag of _tags">
          <dl class="single-user">
            <dt>
              <span class="sr-only">Collection</span>
            </dt>
            <dd>
              <a href="#">
                <strong>{{tag.taggedUser.displayName}}</strong>
              </a>
            </dd>
            <dt>
              <i class="fa fa-male"></i>
              <span class="sr-only">Owner</span>
            </dt>
            <dd>
              <a href="#">{{tag.taggedUser.username}}</a>
              <i class="fa fa-trophy"></i>
            </dd>

            <dt>
              <i class="fa fa-folder-open"></i>
              <span class="sr-only">Keywords</span>
            </dt>
            <dd class="single-keywords">
              <a href="#">#deer</a>
              <a href="#">#raccoon</a>
              <a href="#">#hybrid</a>
            </dd>
          </dl>
        </span>

        <!-- <span *ngIf="showsAlsoPictured">
                <h5>Also Pictured</h5>
                <dl class="single-user">
                  <dt><span class="sr-only">Collection</span></dt>
                    <dd><a href="#"><strong>Birk</strong></a></dd>
                  <dt><i class="fa fa-male"></i> <span class="sr-only">Owner</span></dt>
                    <dd><a href="#">@birkabadger</a> <i class="fa fa-diamond"></i></dd>

                    <dt><i class="fa fa-folder-open"></i> <span class="sr-only">Keywords</span></dt>
                    <dd class="single-keywords"><a href="#">#badger</a></dd>
                </dl>
                <dl class="single-user">
                  <dt><span class="sr-only">Collection</span></dt>
                    <dd><a href="#"><strong>Ringer</strong></a></dd>
                  <dt><i class="fa fa-male"></i> <span class="sr-only">Owner</span></dt>
                    <dd><a href="#">@mmmatches</a> <i class="fa fa-trophy"></i></dd>

                    <dt><i class="fa fa-folder-open"></i> <span class="sr-only">Keywords</span></dt>
                    <dd class="single-keywords"><a href="#">#raccoon</a></dd>
                </dl>
              </span> -->

        <span *ngIf="photographerIsTagged">
          <h5>Taken By</h5>
          <dl class="single-user">
            <dt>
              <i class="fa fa-camera"></i>
              <span class="sr-only">Owner</span>
            </dt>
            <dd>
              <a [routerLink]="">{{capturedByDisplayName}}</a>
            </dd>
          </dl>
        </span>
      </div>
      <div class="col-sm-4">
        <div class="well">
          <dl class="single-actions">
            <dt>
              <i class="fa fa-heart"></i>
              <span class="sr-only">Favorites</span>
            </dt>
            <dd>
              <a href="#">Remove from favorites</a>
            </dd>
            <dt>
              <i class="fa fa-tags"></i>
              <span class="sr-only">Add a Tag</span>
            </dt>
            <dd>
              <a [routerLink]="" (click)="show()">Tag a fursuit</a>
            </dd>
            <dt>
              <i class="fa fa-external-link"></i>
              <span class="sr-only">Source</span>
            </dt>
            <dd>
              <a href="#">View original</a>
            </dd>
            <dt>
              <i class="fa fa-heart-o"></i>
              <span class="sr-only">Favorites</span>
            </dt>
            <dd>
              <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#modal-tag">Add to favorites</a>
            </dd>
            <dt>
              <i class="fa fa-cog"></i>
              <span class="sr-only">Edit</span>
            </dt>
            <dd>
              <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#modal-edit">Edit characters</a>
            </dd>

          </dl>
          <hr>
          <p class="text-center single-stats">
            <strong>285</strong> views &bull;
            <!-- <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#modal-faved"> -->
            <strong>12</strong> favorites
            <!-- </a> -->
          </p>

        </div>

      </div>
    </div>
  </div>
</div>

<!-- tag modal -->

<div (click)="onBackgroundClicked($event)" [ngStyle]="{'display': _visible ? 'block' : 'none', 'opacity': _visibleAnimate ? 1 : 0}"
  [ngClass]="{'in': _visibleAnimate}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal-tag-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button (click)="hide()" type="button" class="close" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="modal-tag-label">Tag a Fursuit</h4>
      </div>
      <form class="form">
        <div class="modal-body">
          <p>Tag other fursuits you recognize:</p>
          <div class="form-group">
            <label class="control-label sr-only" for="tag-names">Names</label>
            <tag-input [(ngModel)]="_tagsInput" class="form-control autocomplete-single-line" name="tag-names" id="tag-names" theme="bootstrap"
              [onlyFromAutocomplete]="true" placeholder="@user or $costume" secondaryPlaceholder="@user or $costume">
              <tag-input-dropdown [autocompleteObservable]='requestAutocompleteObservable' [identifyBy]="'key'" [displayBy]="'text'" [appendToBody]="false">
                <!-- <ng-template let-item="item" let-index="index">
                      {{ index }}: {{ item.display }}
                  </ng-template> -->
              </tag-input-dropdown>
            </tag-input>
          </div>

          <!-- hidden if photog is already tagged -->
          <span *ngIf="!photographerIsTagged">
            <p>
              <strong>Extra credit!</strong> Tag the photographer:</p>
            <div class="form-group">
              <label class="control-label sr-only" for="photographer-tag">Names</label>
              <tag-input #capturedByInput class="form-control autocomplete-single-line" name="photographer-tag" id="photographer-tag" theme="bootstrap"
                [onlyFromAutocomplete]="true" secondaryPlaceholder="@user" maxItems="1">
                <tag-input-dropdown [autocompleteObservable]='requestAutocompleteObservable' [identifyBy]="'key'" [displayBy]="'text'" [appendToBody]="false">
                </tag-input-dropdown>
              </tag-input>
            </div>
          </span>
        </div>
        <div class="modal-footer">
          <button (click)="submitTags()" type="button" class="btn btn-primary">Submit Tags</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- edit modal -->

<div class="modal fade" id="modal-edit" tabindex="-1" role="dialog" aria-labelledby="modal-edit-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="modal-edit-label">Edit Characters</h4>
      </div>
      <form class="form">
        <div class="modal-body">
          <p>Which of your characters are in this photo?</p>

          <div class="checkbox">
            <label>
              <input type="checkbox">Bruto</label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" checked>Racket</label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" checked>Ringer</label>
          </div>
        </div>
        <div class="modal-footer">
          <div class="row">
            <div class="col-xs-6 text-left">
              <a href="#" class="btn btn-link red">None &mdash; Untag Me</a>
            </div>
            <div class="col-xs-6 text-right">
              <button type="button" class="btn btn-primary">Save Changes</button>
            </div>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>

<!-- edit modal -->

<!-- <div class="modal fade" id="modal-faved" tabindex="-1" role="dialog" aria-labelledby="modal-faved-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="modal-faved-label">Faved by 12 People</h4>
      </div>
      <form class="form">
        <div class="modal-body">

          <p>
            <a href="#">@mmmatches</a>,
            <a href="#">@birkabadger</a>,
            <a href="#">@omgfursuits</a>,
            <a href="#">@username</a>,
            <a href="#">@username</a>,
            <a href="#">@username</a>,
            <a href="#">@username</a>,
            <a href="#">@username</a>,
            <a href="#">@username</a>,
            <a href="#">@username</a>,
            <a href="#">@username</a>,
            <a href="#">@username</a>
          </p>
        </div>
      </form>

    </div>
  </div>
</div> -->
